.nav {
  padding: 1rem 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  transition: background-color 0.3s ease-in-out;
  z-index: 1;

  .info {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 2rem;
    gap: 1rem;
    
    a {
      text-decoration: none;
      color: white;
    }
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.black {
  background-color: black;
}
