.main {
  background-image: url("/assets/movies.jpg");
  background-position: center;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;

  .nav {
    position: absolute;
    top: 0;
    width: 75%;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;

    .content {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      .sign-in {
        padding: 0.3rem 1rem;
        font-size: 1rem;
        color: white;
        background-color: #e50914;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #d0101a;
        }
      }
    }
  }

  .photo {
    padding-top: 7rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.65);

    .center {
      text-align: center;
      h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      .movie {
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 1.2rem;
        color: white;
        background-color: red;
        border: none;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        text-decoration: none;
        &:hover {
          background-color: rgb(215, 12, 12);
        }
      }
    }
  }
}
