.banner {
  height: 95vh;
  display: flex;
  background-size: cover; //contain
  background-position: center; //right center
  background-attachment: fixed;
  opacity: 1;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgb(0, 0, 0) 100%
    );
  }
  a {
    text-decoration: none;
    color: white;
  }
  .content {
    padding-left: 4rem;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    gap: 15px;
    flex: 1;
    h1 {
      font-size: 3rem;
      font-weight: bold;
      margin: 0;
    }
    p {
      max-width: 700px;
      font-size: 1.2rem;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .mediabuttons {
        display: flex;
        gap: 1rem;
        .play {
          background-color: white;
          color: black;
          display: flex;
          align-items: center;
          gap: 5px;
          &:hover {
            background-color: rgb(227, 227, 227);
          }
        }
        button {
          padding: 5px 1.2rem;
          border-radius: 5px;
          font-size: 1.2rem;
          border: none;
          color: rgb(213, 212, 212);
          background-color: rgba(60, 60, 60, 0.7);
          display: flex;
          align-items: center;
          gap: 10px;
          transition: 0.2s ease-in-out;
          cursor: pointer;
          &:hover {
            transform: scale(1.1);
            background-color: rgb(75, 75, 75);
          }
        }
      }
      .mute {
        display: flex;
        align-items: center;
        gap: 1rem;
        .image {
          padding: 8px 5px;
          border: 1px solid white;
          border-radius: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        span {
          padding: 10px 15px;
          padding-right: 3rem;
          background-color: rgba(49, 48, 48, 0.8);
          border-left: 3px solid white;
        }
      }
    }
  }
}
