.banner {
  height: 80vh;
  display: flex;
  //   background-size: contain;
  //   background-position: right center;

  background-size: cover;
  background-position: center;

  background-repeat: no-repeat;
  margin: 0 2rem;
  a {
    text-decoration: none;
    color: white;
    width: 100%;
  }
  .content {
    padding: 2rem;
    display: flex;
    height: 80vh;
    // width: 100%;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    gap: 15px;
    flex: 1;
    h1 {
      font-size: 3rem;
      font-weight: bold;
      margin: 0;
    }

    .buttons {
      display: flex;
      gap: 10px;

      button {
        padding: 5px 10px;
        border-radius: 5px;
        border: none;
        color: white;
        background-color: rgba(45, 45, 45, 0.7);
        transition: 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
          background-color: rgb(75, 75, 75);
        }
      }
    }

    p {
      max-width: 700px;
      font-size: 1.2rem;
      margin-top: 10px;
    }
  }
}
